$breakpoint-medium: 768px;
$breakpoint-large: 1300px;
$breakpoint-small-down: 767px;

$font-headline: 'Oswald', sans-serif;
$font-body: 'Arial', sans-serif;

$color-black: hsla(0, 0%, 0%, 1);
$color-white: hsla(0, 0%, 100%, 1);

$color-gray-50: hsla(0, 0%, 95%, 1);
$color-gray-100: hsla(0, 0%, 92%, 1);
$color-gray-200: hsla(0, 0%, 85%, 1);
$color-gray-250: hsla(0, 0%, 80%, 1);
$color-gray-600: hsla(0, 0%, 40%, 1);
$color-gray-700: hsla(0, 0%, 27%, 1);
$color-gray-850: hsla(0, 0%, 13%, 1);
$color-gray-900: hsla(0, 0%, 7%, 1);

$color-primary-500: hsla(97, 53%, 47%, 1);
$color-primary-700: #5eaa2f;
$color-primary-800: #63a63b;
$color-error-500: #ff8282;
